<!doctype html>
<html lang="en">

<head>
    <title>Car Mate | Admin Panel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="<%= process.env.SERVER_URL %>/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="<%= process.env.SERVER_URL %>/css/css2.css">
    <link rel="stylesheet" href="<%= process.env.SERVER_URL %>/css/all.min.css">
    <link rel="stylesheet" href="<%= process.env.SERVER_URL %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= process.env.SERVER_URL %>/css/style.css">
    <link rel="stylesheet" href="<%= process.env.SERVER_URL %>/css/responsive.css">
</head>

<body>
    <div class="preloader">
        <div class="loading">
            <svg viewBox="0 0 84 24" fill="#3BC117">
                <circle cx="18" cy="12" r="6"></circle>
                <circle cx="18" cy="12" r="6"></circle>
                <circle cx="42" cy="12" r="6"></circle>
                <circle cx="66" cy="12" r="6"></circle>
            </svg>
        </div>
    </div>
    <main class="d-flex main-content">
        <%- include('sidebar.ejs') %>

        <div class="page-content w-100">
            <header class="d-flex align-items-center justify-content-between position-sticky mb-30 top-0 bg-white z-3">
                <div class="d-flex d-lg-none menu-bars align-items-center justify-content-center cursor-pointer rounded-2" id="sidebarToggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="page-name">
                    <%= header?.title %>
                </div>
                <ul class="list-unstyled ms-auto d-flex align-items-center gap-3 right-nav-bar mb-0">
                    <li class="d-flex align-items-center gap-2">
                        <div class="user-avatar text-white">
                            A
                        </div>
                        <div class="user-name-info">
                            <div class="u-name fs-14 fw-md"><%= header?.admin?.name %></div>
                            <div class="u-email fs-12 fw-normal"><%= header?.admin?.email %></div>
                        </div>
                    </li>
                    <li>
                        <div id="logout-btn" class="log-out-btn">
                            <img src="/images/logout.svg" alt="">
                        </div>
                    </li>
                </ul>
            </header>

            <% if(header?.id === "transactions") { %>
                <div class="content-area">
                    <div class="static-card-group mb-30">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-6 col-12 custom-space user-managment">
                                <div class="static-card bg-white mt-20">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="static-data">
                                            <span class="sd-title fs-14 d-block">Total Revenue</span>
                                            <span class="sd-data">$0</span>
                                        </div>
                                        <div class="sc-img d-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="lucide lucide-dollar-sign">
                                                <line x1="12" x2="12" y1="2" y2="22"></line>
                                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-6 col-12 custom-space user-managment">
                                <div class="static-card bg-white mt-20">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="static-data">
                                            <span class="sd-title fs-14 d-block">Transactions</span>
                                            <span class="sd-data">0</span>
                                        </div>
                                        <div class="sc-img d-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="lucide lucide-credit-card h-5 w-5 text-primary">
                                                <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                                                <line x1="2" x2="22" y1="10" y2="10"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-6 col-12 custom-space user-managment">
                                <div class="static-card bg-white mt-20">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="static-data">
                                            <span class="sd-title fs-14 d-block">Avg. Transaction</span>
                                            <span class="sd-data">$0</span>
                                        </div>
                                        <div class="sc-img d-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="lucide lucide-trending-up h-5 w-5 text-primary">
                                                <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
                                                <polyline points="16 7 22 7 22 13"></polyline>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-6 col-12 custom-space user-managment">
                                <div class="static-card bg-white mt-20">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="static-data">
                                            <span class="sd-title fs-14 d-block">Pending</span>
                                            <span class="sd-data">$0</span>
                                        </div>
                                        <div class="sc-img d-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="lucide lucide-circle-alert h-5 w-5 text-primary">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <line x1="12" x2="12" y1="8" y2="12"></line>
                                                <line x1="12" x2="12.01" y1="16" y2="16"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <div class="content-area pb-5">