<%- include("header") %>

    <!-- Greeting Section -->
    <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom: 24px;">
        <tr>
            <td>
                <h2 style="margin: 0 0 12px 0; color: #1a1a1a; font-family: 'DM Sans', sans-serif; font-size: 16px; font-weight: 500; line-height: 1.4;">
                    Hello <span style="font-weight: bold;"> <%= mechanic_name %> </span>,
                </h2>
                <p style="margin: 0; color: #575757; font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 1.4;">
                    We received a request to registration of your account for <strong style="color: #575757;">Car Mate</strong>.
                </p>
                <p style="margin: 0; padding-top: 10px; color: #575757; font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 1.4;">
                    Please use the One-Time Password (OTP) below to verify your identity and register your account:
                </p>
                <span style="font-size: 32px; font-weight: 600; border: 1px solid #eee; color: #001238; padding: 15px; display: inline-block; letter-spacing: 5px; border-radius: 4px; margin: 12px 0;">
                    <%= otp %>
                </span>

                <p style="margin: 0; color: #575757; font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 1.4;">
                    This OTP is valid for <strong style="color: #575757;">
                        <%= expire_in %>
                    </strong> and should not be shared with anyone.
                </p>
            </td>
        </tr>
    </table>

<%- include("footer") %>