                            <!-- Divider -->
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom: 40px; ">
                                <tr>
                                    <td style="border-bottom: 1px solid #CCCCCC; height: 1px; line-height: 1.4; font-size: 1px; ">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>

                            <!-- Need Help Section -->
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom: 40px; ">
                                <tr>
                                    <td>
                                        <h3 style="margin: 0 0 20px 0; color: #1a1a1a; font-family: 'DM Sans', sans-serif; font-size: 20px; font-weight: bold; line-height: 1.4; ">
                                            Need Help?
                                        </h3>
                                        <p style="margin: 0; color: #575757; font-family: 'DM Sans', sans-serif; ">
                                            <span style="font-size: 16px; line-height: 1.4;">
                                                If you have any query, feel free to contact our support team at 
                                            </span>
                                            <a href="<%= 'mailto:'+ process.env.SUPPORT_MAIL %>" style="color: #001238; font-size: 16px; text-decoration: underline; ">
                                                <%= process.env.SUPPORT_MAIL %>
                                            </a>
                                            <!-- <span style="font-size: 16px; line-height: 1.4; "> or create a ticket at</span>
                                            <a href="<%= process.env.APP_URL %>/contact-us" style="color: #001238; font-size: 16px; text-decoration: underline; ">
                                                <%= process.env.APP_URL %>/contact-us
                                            </a> -->
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <!-- Divider -->
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom: 40px; ">
                                <tr>
                                    <td style="border-bottom: 1px solid #CCCCCC; height: 1px; line-height: 1.4; font-size: 1px; ">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>

                            <!-- Thank You Section -->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p style="margin: 0 0 12px 0; color: #1a1a1a; font-family: 'DM Sans', sans-serif; font-size: 16px; font-weight: 500; line-height: 1.4; ">
                                            Thank you for choosing <strong style="font-weight: bold; ">Car Mate</strong>.
                                        </p>
                                        <p style="margin: 0; color: #575757; font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 1.4; ">
                                            Best regards, <br> Car Mate Team
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Footer Section -->
                    <tr>
                        <td style="background-color: #001238; padding: 32px; ">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p style="margin: 0; color: #ffffff; font-family: 'DM Sans', sans-serif; font-size: 16px;  text-align: left; ">
                                            Copyright © 2026 Car Mate. All Rights Reserved.
                                        </p>
                                    </td>
                                    <td style="width: 30px;">
                                       <a href="<%= process.env.APP_URL %>" target="_blank">
                                            <img src="<%= process.env.APP_URL %>/img/icon-discord.png" alt="icon" style="height: 24px; width: 24px; object-fit: contain;">
                                       </a>
                                    </td>
                                    <td style="width: 30px;">
                                       <a href="<%= process.env.APP_URL %>" target="_blank">
                                            <img src="<%= process.env.APP_URL %>/img/icon-x.png" alt="icon" style="height: 24px; width: 24px; object-fit: contain;">
                                       </a>
                                    </td>
                                    <td style="width: 30px;">
                                       <a href="<%= process.env.APP_URL %>" target="_blank">
                                            <img src="<%= process.env.APP_URL %>/img/icon-instagram.png" alt="icon" style="height: 24px; width: 24px; object-fit: contain;">
                                       </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>